/* Footer Styling */
.footer {
  background-color: #ffffff;
  color: #495057;
  padding: 30px 0;
  border-top: 1px solid #dee2e6;
}

.footer a:not(.btn) {
  color: #6c757d;
  transition: color 0.3s;
}

.footer a:not(.btn):hover {
  color: #04a9f4;
}

.footer .title {
  color: #212529;
  margin-bottom: 20px;
}

.footer_top {
  border-bottom: 1px solid #04a9f4;
}

.footer_top .site-logo img {
  max-height: 40px;
}

.footer_top .quick-link li a:hover {
  color: #4a90e2;
}

.footer_bottom {
  border-top: 2px solid #dee2e6;
  padding: 20px;
  background-color: #f8f9fa;
}

.footer-bottom .list-inline-item a {
  color: #6c757d;
  transition: color 0.3s;
}

.footer-bottom .list-inline-item a:hover {
  color: #04a9f4;
}

.footer-lang-selector {
  margin-top: 4px;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  color: #495057;
  font-size: 14px;
}

@media (max-width: 576px) {
  .footer .col-auto {
    text-align: center;
  }

  .footer .footer_bottom {
    text-align: center;
  }

  .footer .footer_bottom .container {
    padding: 20px 0;
  }
}
