
/*footer*/
.footer {
  padding: 0.5rem 0;
}

.footer a:not(.btn) {
  color: #6c757d;
}

.footer .title{
  color: #212529;
}

.footer_top.dark{
  background-color: #ffffff !important;
  border-top: 1px solid #dee2e6;
}

.footer_top.dark .site-logo img{
  max-height: 40px;
}

.footer_top.dark .quick-link li a:hover{
  color: #4a90e2;
}

.footer_bottom.dark{
  background-color: #f8f9fa !important;
}
.footer_bottom.dark .container{
  padding: 20px;
  border-top: 2px solid #dee2e6;
}

.footer-lang-selector {
  margin-top: 4px;
  margin-left: 20px;
  padding: 3px;
  display: inline-block;
  border: 1px solid #ced4da;
  outline: none;
  background-color: #ffffff;
  color: #495057;
  font-size: 14px;
  line-height: 24px;
}



@media (max-width: 576px){
  section.banner .content{
    text-align: center;
  }
  section.banner .content h1{
    font-size: 30px;
  }

  .header-top .navbar-nav.list-inline{
    display: none;
  }

  nav.header-top .link{
    margin-left: auto;
  }

  footer {
    border-top: none;
  }

  footer .col-auto {
    -ms-flex: 0 0 auto;
    width: 100%; 
    text-align: center;
  }

}

